@using risersoft.shared.cloud.common;
@{
    ViewBag.Title = "Home Page";
}

<div class="row imchn">
    <div class="col-md-8">
        <img src="/Content/images/cognitive-banner.jpg" style="width:650px;" class="img-responsive banner-img">
    </div>
    <div class="col-md-3 gst-banner-text">
        <h1 class="gst-banner-text-title" style="width: 335px;">Lift My Group</h1>
        <p class="lead gst-banner-text-para">Chat group assistant</p>
        <p><a href="/app" class="btn btn-primary btn-lg">Start Now &raquo;</a></p>
    </div>
</div>
<div class="row clsimgb">
    <div class="col-md-3 footer-nav footer-text">
        <div class="clsfoot">
            <h2>Group Follow</h2>
            <p>
                Follow Social Media handles as a group.
            </p>
        </div>
    </div>
    <div class="col-md-3 footer-nav footer-text">
        <div class="clsfoot">
            <h2>Fitness Gamification</h2>
            <p>
                Connect fitness services and compete with your group members.
            </p>
        </div>
    </div>
    <div class="col-md-3 footer-nav footer-text">
        <div class="clsfoot">
            <h2>Personalization</h2>
            <p>Personalized group preferences</p>
        </div>
    </div>
    <div class="col-md-3 footer-text">
        <div class="clsfoot">
            <h2>Multi Platform</h2>
            <p>Securely access your cloud hosted data from web and bot.</p>
        </div>
    </div>
</div>